</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>

{{ partial "google_analytics.html" . }}
{{ partial "piwik_analytics.html" . }}

<div id="bottom_links">
<a href='https://corelli.pages.ornl.gov/'>Privacy</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/content/accessibility'>Accessibility</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/content/contact-us'>Contact The Lab</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/'>ORNL Home Page</a>
    <br>
    <br><span id="bottom_ornl_statement">Oak Ridge National Laboratory is managed by UT-Battelle for the Department of Energy</span>
</div>

</body>
</html>
